source https://api.nuget.org/v3/index.json

framework: auto-detect
nuget Argu
nuget FAKE
nuget FSharp.Core ~> 7.0.0
nuget Hopac
nuget FSharp.Compiler.Service

group Build
source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 7.0.0
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio
nuget Unquote
nuget Microsoft.NET.Test.Sdk

nuget FAKE