source https://api.nuget.org/v3/index.json

framework: auto-detect
nuget Argu
nuget Expecto
nuget Expecto.VisualStudio.TestAdapter
nuget FAKE
nuget FSharp.Core
nuget Hopac
nuget Logary >= 5.0.0 prerelease
nuget System.Security.Cryptography.Cng

github bitthicket/logary src/Logary.Facade/Facade.fs

group Build
source https://api.nuget.org/v3/index.json

nuget FAKE